@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  padding: 1em;
}

.container-item {
  max-width: 80%;
  margin: 0 auto;
}

.jumbotron {
  background: #ddd;
  padding: 4em 3em;
  text-align: left;
  border-radius: 5px;
}
.transparent.jumbotron {
  background: transparent;
  text-align: center;
  padding: 2em;
}

h1.header {
  font-size: 5em;
}

.jumbotron p {
  font-size: 1.3em;
}

/* button showcase */
.button-showcase button {
  margin: 2px;
}

/* alerts showcase */
.alerts-showcase .pt-callout {
  max-width: 70%;
}

/* thumbnail showcase */
.thumbnail-showcase {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-direction: normal;

}
.thumbnail-showcase .pt-card {
  max-width: 400px;
}

/* labels showcase */
.labels-showcase .pt-tag {
  margin: 2px;
}

/* progress bar showcase  */
.progress-bar-showcase .pt-callout {
  max-width: 70%;
}



/* flexbox code */

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: auto;
}

.flex-card {

}